# Maven
target/

# Java
*.class

# Logs
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/
*.iml

# Spring Boot / Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Optional (if using HELP.md from Spring Initializr)
HELP.md